params {
    cellranger = 'dfirer/cellranger6.0.1'
    bioconductor = 'bioconductor/bioconductor_docker'
    sctools = 'ghcr.io/shashidhar22/docker-sc-tools:sha-f63b959'
    conda_str = true
}
manifest {
    name = 'Cellranger'
}
# Update enviroment variable as per user settings
env {
    TMPDIR='path/to/tmp/dir'
    SINGULARITY_CACHEDIR='/path/to/SINGULARITY_CACHEDIR'
    SINGULARITY_TMPDIR='/path/to/SINGULARITY_TMPDIR'
    NXF_CONDA_CACHEDIR='/path/to/NXF_CONDA_CACHEDIR'
}
# Update queue information as per user settings
process {
    withLabel: local_run {
        executor = 'local'
        maxRetries =  3
        memory = 16.GB
        cpus = 10
    }
    withLabel: low_mem {
        executor = 'slurm'
        queue = 'campus-new'
        maxRetries =  3
        memory = 80.GB
        cpus = 4
        time = '12h'
    }
    withLabel: mid_mem {
        executor = 'slurm'
        queue = 'campus-new'
        maxRetries =  3
        memory = 120.GB
        cpus = 6.0
        time = '1d'
    }
    withLabel: high_mem {
        executor = 'slurm'
        queue = 'campus-new'
        maxRetries =  3
        memory = 250.GB
        cpus = 10
        time = '1d'
    }
}
